@tailwind base;
@tailwind components;
@tailwind utilities;
.custom-slide-height {
    height: 70vh !important;
  }
.h-70{
    height: 70vh;
}
.position {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.25rem;
  transition: background-color 0.2s ease;
}

.position.selected {
  background-color: #f8fafc; /* Add your desired background color for selected positions */
}

.folder-icon {
  margin-right: 0.5rem;
  font-size: 1.25rem;
}

  
  
  
  
  